/* input 기본 스타일 초기화 */
/* input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

.contents-wrap {
    width: 1060px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 0 80px;
}

/** 지원 정보 사이드바 **/
.job-apply-box {
    width: 340px;
    height: fit-content;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    /* background-color: yellow; */
    padding: 24px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 70px;
}
.job-apply__title {
    font-size: 15px;
    font-weight: 600;
}
.job-apply__share-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e2e3;
    border-radius: 20px;
    position: absolute;
    top: 24px;
    right: 20px;
}
.job-apply-text-box-row {
    margin: 24px 0px;
    display: flex;
    /* justify-content: space-between; */
}
.job-apply-text-box {
    width: 50%;
}
.job-apply__label {
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    margin-bottom: 8px;
}
.job-apply__contents {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.job-apply__btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid #36f;
    color: #36f;
}
.job-apply__btn--bg-col {
    background-color: #36f;
    color: white;
}
.job-apply__btn:first-child {
    margin-bottom: 10px;
}
.job-apply-like-row {
    margin-top: 24px;
    height: 30px;
    display: flex;
    align-items: center;
}
.job-apply-like-btn {
    height: 30px;
    padding: 0px 15px;
    margin-right: 12px;
    border: solid 1px #e1e2e3;
    color: #e1e2e3;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
}
.job-apply-like-btn__text {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-left: 10px;
}
.job-apply-liked-list-btn__list > li {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 26px;
    margin-right: -10px;
    background-size: cover;
}
/* 사진 넣는 부분. 나중에 js 로 넣는 걸로 대체할 예정 */
.job-apply-liked-list-btn__list > li:first-child {
    background-image: url("https://lh3.googleusercontent.com/a/AATXAJyptvBO9pOC55mAwO0IA3-llT_OIJ3QyPcS1-DN=s96-c"),
        url("https://static.wanted.co.kr/images/userweb/profile_default.png");
    background-size: cover;
    z-index: 3;
}
.job-apply-liked-list-btn__list > li:nth-child(2) {
    background-image: url("https://k.kakaocdn.net/dn/chOGWm/btrJ7se3l3K/eeQiZuGgc7rBHKj9RBRFk1/img_110x110.jpg"),
        url("https://static.wanted.co.kr/images/userweb/profile_default.png");
    z-index: 2;
}
.job-apply-liked-list-btn__list > li:nth-child(3) {
    background-image: url("https://lh3.googleusercontent.com/a/ALm5wu2bYv18aK6_ahAXODnanhRHwCfEqvoUbqKJCBKA=s96-c"),
        url("https://static.wanted.co.kr/images/userweb/profile_default.png");
    z-index: 1;
}

/** 직업 정보 영역 **/
.job-info-box {
    width: calc(100% - 360px);
    /* background-color: aquamarine; */
}
/** 직업 정보 스크롤 영역 **/
.job-info__img-slider {
    width: 700px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 4px;
    margin-bottom: 30px;
}
.job-info__img-box {
    width: 700px;
    height: 450px;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.job-info__img-box > img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/** 직업 정보 스크롤바 디자인 **/
.job-info__img-slider::-webkit-scrollbar {
    /* width: 10px; */
    height: 10px;
}
.job-info__img-slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b5b5b5;
}

/** 직업 정보 컨텐츠 영역 **/
.job-info__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.job-info-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    /* display: flex;
    align-items: center; */
}
.job-info-subtitle__corp-name {
    font-weight: 600;
    margin-right: 10px;
}
.job-info-subtitle__response {
    font-size: 10px;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #855af0;
    padding: 3px 5px;
    color: #855af0;
    border-radius: 2px;
}
.job-info-subtitle__locate::before {
    content: "|";
    color: #999999;
    margin: 0 10px;
}
.job-info-subtitle__locate {
    color: #999999;
}
.job-info-tag-box {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.job-info__tag-item {
    height: 30px;
    line-height: 30px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 500;
    background-color: #f3f5f8;
    color: #333333;
    padding: 0px 14px;
    /* box-sizing: border-box; */
    margin: 0px 6px 10px 0;
    white-space: nowrap;
}
.job-info__description {
    box-sizing: border-box;
    padding-right: 20px;
    line-height: 1.75;
}

/** 직업 정보 기술스택 영역 **/
.job-info__skill-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    color: #333333;
    margin-top: 20px;
}
.job-info-skill-box {
    display: flex;
    grid-gap: 10px 8px;
    margin-top: 5px;
    margin-bottom: 60px;
}
.job-info__skill {
    font-size: 12px;
    font-weight: 600;
    background-color: #e4f4ec;
    border-radius: 20px;
    padding: 9px 14px;
}

.divider--width-100 {
    width: 100%;
}

/** 직장 정보 및 위치 영역 **/
.job-workplace-box {
    margin: 20px 0 60px 0;
}
.job-workplace-row {
    margin-bottom: 20px;
}
.job-workplace__title {
    width: 80px;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    display: inline-block;
}
.job-workplace__subtitle {
    font-size: 16px;
    font-weight: 600;
}
.job-workplace__map-img {
    width: 100%;
}

/** 회사 팔로우 버튼 영역 **/
.job-info-corp-box {
    border: 1px solid #e1e2e3;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.job-info-corp-left-box {
    display: flex;
    align-items: center;
}
.job-info-corp__logo {
    width: 50px;
    height: 50px;
    background-image: url("https://static.wanted.co.kr/images/wdes/0_5.0852ff23.jpg");
    background-size: contain;
    margin-right: 15px;
}
.job-info-corp__corp-name {
    font-size: 15px;
    font-weight: 600;
}
.job-info-corp__corp-kind {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}
.job-info-corp__follow-btn {
    height: 40px;
    padding: 0 27px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #e1e2e3;
    border-radius: 25px;
    color: #002fdb;
}

/** 주의사항 영역 **/
.job-info-warning-box {
    padding: 25px 30px;
    display: flex;
    align-items: center;
    background-color: #f3f5f8;
    border-radius: 3px;
    margin-bottom: 55px;
}
.job-info-warning-content-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.job-info-warning__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
    margin: 0 20px;
}

/** Main - 검색된 포지션 리스트 (중복코드) **/
.contents-box {
    width: 1060px;
    margin: 30px auto 80px;
}
.postions-title {
    /* 새로추가 */
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}
.section-contents {
    /* background-color: bisque; */
    width: 1060px;
    /* height: 764px */
}
.section-contents__ul {
    /* background-color: blueviolet; */
    width: 1060px;
    /* height: 301px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 50px;
    /* margin: 0 auto; */
}
.section-contents__thumb {
    /* width: 240px; */
    width: 100%;
    height: 187px;
    padding-bottom: 0;
    /* background-color: black; */
    margin-bottom: 17px;
    background: black;
    outline: solid 1px rgba(0, 0, 0, 0.05);
    outline: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    /* playtime을 위로 올리기 위함 */
    position: relative;
    top: 0;
}
.section-contents__thumb > img {
    /* @야매 - 높이값이 꽉 채워졌음 좋겠는데 안채워짐, height값 직접 지정해줬움,, => 100%로 맞춰주니까 됨 */
    /* height: 168px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-contents__bookmark-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}
.position-body > * {
    margin-top: 10px;
}
.position-body__pos-name {
    font-size: 18px;
    font-weight: 600;
}
.position-body__corp-name {
    font-size: 14px;
    font-weight: 600;
}
.position-body__locate {
    font-size: 14px;
    color: #999999;
}
.position-body__reward {
    font-size: 14px;
    font-weight: 500;
}

/** 하단 채용 공고 버튼 영역 (중복코드) **/
.bottom-banner-btn {
    width: 100%; /* 100vw 이면 부모가 다른 영역과 달리 스크롤바 영역까지 먹고 있어서 중앙 정렬이 안됨 */
    height: 70px;
    background-color: #258bf7;
    position: fixed; /* 새로추가) 영역을 차지안해야 해서 sticky에서 fixed로 변경 */
    bottom: 0;
}
.bottom-banner-btn-wrap {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 새로추가 */
.bottom-banner-btn-left-box {
    display: flex;
    align-items: center;
}
.bottom-banner-btn__icon {
    font-size: 24px;
    color: #fff;
    /* vertical-align: middle; */
}
.icon-joblist_bottombar_reward::before {
    content: "\e978";
}
/* 새로추가된 영역 끝 */
.bottom-banner-btn__text {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
.bottom-banner-btn__more-btn {
    width: 118px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: #258bf7;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
}

/** 회원가입/로그인 모달창 **/
.login-modal-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.login-modal-box {
    width: 400px;
    /* max-width: 500px; */
    /* height: 600px; */
    max-height: calc(100vh - 150px);
    overflow: hidden auto;
    -ms-overflow-style: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    border-radius: 5px;
}
.login-modal-box::-webkit-scrollbar {
    display: none;
}
.login-modal-header {
    width: 100%;
    height: 54px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
/* ? i 태그 중앙 정렬이 안됨 */
.icon-logo-box {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    /* padding: 0 auto; */
}
.logo-align-center {
    position: relative;
    top: 0;
    left: 40%;
    transform: translate(-50%, -50%);
}
.login-modal__close-btn {
    color: grey;
    position: absolute;
    right: 0;
    padding: 15px;
}

.login-modal-body {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-modal__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.54;
    color: #333;
    text-align: center;
}
.login-modal__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    margin: 16px 0 40px;
    text-align: center;
}

.login-modal__input__text {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
/* input 태그에 마진을 다니까 나중에 인풋 영역 가운데에 화살표를 넣고 싶을 때 마진까지 포함해서 영역이 잡혀 중앙 정렬이 잘 안돼서 input태그만을 감싸는 wrap을 따로 만듦 */
.login-modal__input-wrap {
    margin-top: 11px;
}
.login-modal__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    font-size: 15px;
    color: #333;
    padding: 0 15px;
    box-sizing: border-box;
}
.login-modal__input:focus-visible {
    border: 1px solid #36f;
    outline: none;
}

.login-modal__email-login-btn {
    height: 54px;
    border-radius: 27px;
    background-color: #36f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.login-modal__email-login-btn:hover {
    background-color: #002fdb;
    color: white;
}
.login-modal__email-login-btn__text {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.login-modal__or-divider {
    color: #969696;
    font-size: 14px;
    font-weight: 500;
    margin: 13px auto;
}

.login-modal__sns-login-text {
    font-size: 14px;
    color: #767676;
    margin-bottom: 17px;
    text-align: center;
}

.login-modal-sns-list-box {
    display: flex;
    justify-content: space-between;
}
.login-modal__sns-btn {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin: 0 auto 8px;
    position: relative;
    /* display: inline-flex;
    justify-content: center; */
}
.login-modal__sns-btn__text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 62px;
    color: #666;
}
.login-modal__sns-btn--bg-yellow {
    background-color: yellow;
}
.login-modal__sns-btn--bg-yellow:hover {
    background-color: #e4cd00;
}
.login-modal__sns-btn--bg-blue {
    background-color: #36f;
}
.login-modal__sns-btn--bg-blue:hover {
    background-color: #156ad9;
}
.login-modal__sns-btn--border {
    border: 1px solid #e1e2e3;
}
.login-modal__sns-btn--border:hover {
    background-color: #f5f5f5;
}
.login-modal__sns-btn--bg-black {
    background-color: black;
}

.login-modal__safe-text {
    margin-top: 46px;
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 18px;
}
.login-modal__safe-text a {
    color: #3336ff;
    text-decoration: underline;
}

/** 회원가입 모달창 **/
.login-modal-input-box {
    margin-bottom: 22px;
}

.signUp-modal-body {
    padding: 20px 20px 0 20px;
}

.login-modal__select-box {
    position: relative;
    margin-top: 0;
}
.login-modal__select-arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.login-modal__input-wrap--display {
    display: flex;
    column-gap: 10px;
}
.login-modal__get-code-btn {
    flex-shrink: 0;
    border-radius: 5px;
    width: 117px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    background-color: #f2f4f7;
}
.login-modal__get-code-btn.isActive {
    border: 1px solid #e1e2e3;
    background-color: white;
    color: #36f;
}

.login-modal__input--bg-grey {
    background-color: #f2f4f7;
}
.login-modal__pw-guide {
    font-size: 12px;
    color: #767676;
    line-height: 1.42;
    margin-top: 6px;
}

.login-modal-agree-box {
    margin-bottom: 15px;
}
.login-modal-agree-row {
    margin: 5px 0px;
    display: flex;
}
.divider--margin-5 {
    margin: 14px 0;
}
.login-modal-agree-text-box {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-modal__agree-text {
    margin-left: 10px;
    font-size: 15px;
    color: #939393;
}
.login-modal__agree-text--col-black {
    color: #333333;
}
.login-modal__agree-detail-link {
    font-size: 13px;
    color: #767676;
}

.login-modal-footer-box {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 0 15px 0;
    box-sizing: border-box;
}
/* todo) foooter-box 위에 그라데션 박스 넣기 */
/* .login-modal-footer-box::before {
    content: "";
    width: 100%;
    height: 30px;
    display: block;
    background-color: purple;
    background-color: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
} */
.login-modal__signUp-btn {
    width: 100%;
    height: 54px;
    border-radius: 54px;
    font-size: 16px;
    font-weight: 600;
    color: #cacaca;
    background-color: #f2f4f7;
    cursor: not-allowed;
}
