@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/** Start of 원티드 로고 **/
@font-face {
    font-family: "icomoon";
    src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930");
    src: url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix")
            format("embedded-opentype"),
        url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930")
            format("woff2"),
        url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930")
            format("truetype"),
        url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930")
            format("woff"),
        url("https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-logo:before {
    content: "\e992";
}
/* End of 원티드 로고 */

:root {
    --border-color: #e1e2e3;
    --blue-color: #36f;
}

/** Default settings **/
* {
    margin: 0;
    padding: 0;
    font-family: Pretendard, sans-serif;
    /* color: #333333 */
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: 0;
    outline: 0;
    background-color: transparent;
}
.divider {
    width: 1060px;
    height: 0.5px;
    background-color: var(--border-color);
    margin: 0 auto;
}
.rotate-180 {
    transform: rotate(180deg);
}
.material-icons-round.md-14 {
    font-size: 18px;
}
.material-icons-round.md-22 {
    font-size: 22px;
}
.material-icons-round.md-24 {
    font-size: 24px;
}
.material-icons-round.md-36 {
    font-size: 36px;
}
.material-icons-round.md-48 {
    font-size: 48px;
}
/** Header **/
header {
    width: 100vw;
    height: 50px;
    border: 1px solid var(--border-color);
    background-color: white;
    /* 상단 고정 */
    position: sticky;
    top: 0%;
    z-index: 4;
}
img {
    max-width: 100%;
    max-height: 100%;

    /* width: 100%;
    height: 100%; */
}
.header-wrap {
    /* background-color: aquamarine; */
    width: 1060px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.header-wrap * {
    /* position: sticky; */
}
.left-btns-wrap *,
.right-btns-wrap * {
    display: inline-block;
    /* height: 100%; */
    /* position: sticky; */
}
.wanted-logo {
    font-family: icomoon sans-serif;
}
.logo-img {
    height: 17px;
    margin-left: 10px;
}
.menu-btn {
    width: 17px;
    height: 14px;
    /* 버튼 중앙정렬@q1 */
    /* display: inline-block; */
    /* height: 100%; */
    /* vertical-align: middle; */

    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */

    /* margin: 0 auto; */
}
.menu-btn > img {
    max-width: 100%;
    max-height: 100%;
}
.header-nav-ul > li {
    padding: 15px;
    font-size: 14px;
    font-weight: 600px;
    box-sizing: border-box;
}
.header-nav-ul > li:hover {
    border-bottom: 3px solid #dddddd;
    margin-bottom: -3px;
}
.header-nav-ul > li:active {
    border-bottom: 3px solid #0869fd;
    margin-bottom: -3px;
}
.footnote {
    font-size: 2px;
    margin: 1px;
    position: absolute;
    top: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    color: #1c36fd;
}
.login-btn {
    font-size: 14px;
    font-weight: 600;
}
.search-btn {
    width: 17px;
    height: 17px;
    margin-right: 15px;
    /* 질문@q1 버튼 세로축 중앙 정렬 */
    position: relative;
    top: 3px;
}
.search-btn > img {
    max-width: 100%;
    max-height: 100%;
}
.vertical-line {
    border-left: 1px solid var(--border-color);
    height: 10px;
    margin: 0 20px;
}
.hiring-corp-service-btn {
    width: 82px;
    height: 30px;
    font-size: 13px;
    color: grey;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
}

/** Main **/
main {
    width: 100vw;
    padding-top: 20px;
    /* border: none; */
    /* margin: 0 auto; */
}
.section-wrap {
    width: 1060px;
    margin: 60px auto;
    /* background-color: yellow; */
    /* padding: 60px 0; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title {
    font-size: 22px;
    font-weight: 700;
}
.section-title--button * {
    display: inline-block;
}
/** Main - 직업 찾기 섹션 */
.search-wrap {
    border-bottom: 1px solid var(--border-color);
}
.search-job-box {
    width: 1060px;
    height: 32px;
    display: flex;
    margin: 40px auto;
}
.search-job-btn {
    display: flex;
    align-items: center;
}
.search-job__text {
    font-size: 24px;
    margin-right: 16px;
}
.search-job__text--bold {
    font-weight: 700;
}
.search-job__more-btn {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    border: 1px solid #e1e2e3;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
}
.search-job-vertical-line {
    width: 2.5px;
    margin: 3px 24px;
    background-color: red;
}

.search-filter-box {
    width: 1060px;
    margin: 10px auto 0 auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.search-filter-btn {
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}
.search-filter-btn__selected-text {
    color: #3366ff;
    font-weight: 600;
    margin-left: 15px;
}
.search-filter-btn--margin-right {
    padding-right: 5px;
}
.search-filter-btn__dropdown {
    margin-left: 5px;
    /* ? 머트리얼 아이콘 기본적으로 붙어있는 양 옆 패딩을 없애고 싶은데 방법을 모르겠다.*/
    /* padding-right: 0;
    margin-right: 0; */
}

.divider--margin {
    margin: 25px auto;
}
.search-tag-slider-box {
    width: 1060px;
    height: 32px;
    margin: 0 auto 25px auto;
    background-color: yellow;
    display: flex;
    position: relative;
}
.search-tag {
    /* width: ; */
    height: 32px;
    border-radius: 32px;
    /* padding: 8px 14px; */
    padding: 8px 25px 8px 14px; /* img 크기까지 포함해서 오른쪽 패딩 조정 */
    box-sizing: border-box;
    margin-right: 8px;
    background-color: #f2fbf5;
    color: #333333;
    font-size: 13px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* 이거 안주면 텍스트에 자동개행 생김 */
    /* word-break: nowrap; */
}
.search-tag__img {
    width: 16px;
    margin-left: 5px;
}
.btn-gradient-bg {
    width: 80px;
    height: 40px; /* 39 px 주면 뒤에 내용물이 다 안가려짐 */
    background: linear-gradient(90deg, #fff 21.82%, hsla(0, 0%, 100%, 0));
    display: flex;
    position: absolute;
}
.btn-gradient-bg--right {
    left: auto;
    right: 0;
    /* background-color: red; */
    background: linear-gradient(270deg, #fff 21.82%, hsla(0, 0%, 100%, 0));
    justify-content: flex-end;
}
.btn-gradient-bg--small {
    height: 30px;
}
.arrow-btn-bg {
    border: 1px solid var(--border-color);
    width: 39px;
    height: 39px;
    border-radius: 39px;
    box-sizing: border-box;
    background-color: white;
    /* background: linear-gradient(90deg,#fff 21.82%,hsla(0,0%,100%,0)); */
    padding: 12px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.arrow-btn-bg--small {
    width: 30px;
    height: 30px;
    padding: 8px;
}

/** Main - 콘텐츠 영역 **/
.contents-box {
    width: 1060px;
    margin: 30px auto;
}
/** Main - 북마크 버튼 **/
.bookmark-btn {
    height: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.bookmark-row * {
    color: #3366ff;
}
.bookmark-btn__text {
    font-size: 15px;
    font-weight: 600;
}
/** Main - 적극 채용 중인 회사 영역 **/
.hiring-corp-title {
    font-size: 22px;
    font-weight: 600;
}
.hiring-corp-list {
    /* background-color: yellow; */
    margin: 20px 0 50px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}
.hiring-corp-item {
    /* width: 100%; */
    /* width: 197px; */
    height: 271px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /* box-sizing: border-box;
    padding: 10px; */
}
.hiring-corp-item__bg-img {
    height: 147px;
    background-image: url("https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fcompany%2F1355%2F16906_2_0.__400_400.jpg&w=400&q=75");
}
.hiring-corp-item__logo-img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    background-image: url("https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fwdes%2F0_5_01c06ee3-c3ec-4c81-8f3f-ab7418f1d75a.jpg&w=100&q=75");
    background-size: contain;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 122px; /* 배경 이미지 높이값 - (로고 이미지 높이값 / 2) */
    left: 15px;
}
.hiring-corp-item__text-box {
    padding: 40px 15px;
    /* padding: 15px; */
    box-sizing: border-box;
}
.hiring-corp-item__title {
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0;
}
.hiring-corp-item__title:hover {
    color: #258bf7;
}
.hiring-corp-item__subtitle {
    font-size: 14px;
    color: #999999;
}

/** Main - 검색된 포지션 리스트 */
.section-contents {
    /* background-color: bisque; */
    width: 1060px;
    /* height: 764px */
}
.section-contents__ul {
    /* background-color: blueviolet; */
    width: 1060px;
    /* height: 301px; */
    display: grid;
    /* @todo - 오른쪽에 여백이 좀 더 많이 남는 이유 몰겠음 */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 50px;
    /* margin: 0 auto; */
}
.section-contents__thumb {
    /* width: 240px; */
    width: 100%;
    height: 168px;
    padding-bottom: 0;
    /* background-color: black; */
    margin-bottom: 17px;
    background: black;
    outline: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    /* playtime을 위로 올리기 위함 */
    position: relative;
    top: 0;
}
.section-contents__thumb > img {
    /* @야매 - 높이값이 꽉 채워졌음 좋겠는데 안채워짐, height값 직접 지정해줬움,, => 100%로 맞춰주니까 됨 */
    /* height: 168px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-contents__bookmark-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}
.position-body > * {
    margin-top: 10px;
}
.position-body__pos-name {
    font-size: 18px;
    font-weight: 600;
}
.position-body__corp-name {
    font-size: 14px;
    font-weight: 600;
}
.position-body__locate {
    font-size: 14px;
    color: #999999;
}
.position-body__reward {
    font-size: 14px;
    font-weight: 500;
}
