.rotate-180 {
  transform: rotate(180deg);
}
.btn-gradient-bg {
  width: 80px;
  height: 40px; /* 39 px 주면 뒤에 내용물이 다 안가려짐 */
  background: linear-gradient(90deg, #fff 21.82%, hsla(0, 0%, 100%, 0));
  display: flex;
  /* position: absolute; */
}
.btn-gradient-bg--right {
  left: auto;
  /* right: 0; */
  /* background-color: red; */
  background: linear-gradient(270deg, #fff 21.82%, hsla(0, 0%, 100%, 0));
  justify-content: flex-end;
}
.arrow-btn-bg {
  border: 1px solid var(--border-color);
  width: 39px;
  height: 39px;
  border-radius: 39px;
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-btn-bg:hover {
  border-color: #aaa;
}
