.section-contents__thumb {
  /* width: 240px; */
  width: 100%;
  height: 168px;
  padding-bottom: 0;
  /* background-color: black; */
  margin-bottom: 17px;
  background: black;
  outline: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;
}
.section-contents__thumb > img {
  /* @야매 - 높이값이 꽉 채워졌음 좋겠는데 안채워짐, height값 직접 지정해줬움,, => 100%로 맞춰주니까 됨 */
  /* height: 168px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
