.section-contents__kinds__span {
  height: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  padding: 0 6px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  margin-right: 5px;
}
.section-contents__kinds__span--network {
  border-color: #a149e4;
  color: #a149e4;
}
.section-contents__kinds__span--article {
  border-color: #ff9100;
  color: #ff9100;
}
.section-contents__kinds__span--online {
  background-color: black;
  color: white;
}
