@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/** Start of 원티드 로고 **/
@font-face {
  font-family: 'icomoon';
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930');
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix')
      format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930')
      format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930')
      format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930')
      format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-logo:before {
  /* .icon-logo { */
  content: '\e992';
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* End of 원티드 로고 */

/** Header 영역 **/
header {
  /* width: 100vw;
    width: 100%;
    max-width: 100%; */
  height: 50px;
  border: 1px solid var(--border-color);
  background-color: white;
  /* 상단 고정 */
  position: sticky;
  top: 0%;
  z-index: 4;
}
.header-wrap {
  /* background-color: aquamarine; */
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.left-btns-wrap,
.right-btns-wrap {
  display: flex;
  align-items: center;
}
.logo-img {
  height: 17px;
  margin-left: 10px;
}
.menu-btn {
  width: 17px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.menu-btn > img {
  max-width: 100%;
  max-height: 100%;
}
.header-nav-ul > li {
  padding: 15px;
  font-size: 14px;
  font-weight: 600px;
}
.header-nav-ul > li:hover {
  box-shadow: inset 0px -2px 0 #dddddd;
}
.header-nav-ul > li:active {
  box-shadow: inset 0px -2px 0 #0869fd;
}
.footnote {
  font-size: 2px;
  margin: 1px;
  position: absolute;
  top: 12px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #1c36fd;
}
.login-btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.search-btn {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  cursor: pointer;
}

/** 로그인 해야만 보이는 아이콘들**/
.logined-area {
  display: flex;
}
.noti-btn {
  margin: 5px 10px 0px;
}
.profile-btn {
  /* background-color: #1c36fd; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  margin: 0px 0px 0px 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  position: relative;
}
.profile-btn--border-blue {
  border-color: #36f;
}
.profile-btn__bg-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-image: url('https://static.wanted.co.kr/oneid-user/profile_default.png');
  background-size: cover;
}
.profile-btn__new-icon {
  background-color: #36f;
  border-radius: 5px;
  width: 13px;
  height: 13px;
  font-size: 5px;
  color: white;
  position: absolute;
  top: -2px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  border-left: 1px solid var(--border-color);
  height: 10px;
  margin: 0 20px;
}
.corp-service-btn {
  width: 82px;
  height: 30px;
  font-size: 13px;
  color: grey;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
}
