@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/** Start of 원티드 로고 **/
@font-face {
  font-family: 'icomoon';
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930');
  src: url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.eot?8et930#iefix')
      format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff2?8et930')
      format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.ttf?8et930')
      format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.woff?8et930')
      format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/78252/wantedicon/icomoon.svg?8et930#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-logo:before {
  /* .icon-logo { */
  content: '\e992';
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* End of 원티드 로고 */

/** Default settings **/
:root {
  --border-color: #e1e2e3;
  --blue-color: #36f;
}
* {
  margin: 0;
  padding: 0;
  font-family: Pretendard, sans-serif;
  /* color: #333333 */
}
img {
  max-width: 100%;
  max-height: 100%;
  /* object-fit: cover; */
  /* width: 100%;
  height: 100%; */
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
select {
  appearance: none; /* 기본 화살표 없애기 */
}
.rotate-180 {
  transform: rotate(180deg);
}
/* .material-icons-outlined.md-16 {
    font-size: 16px;
} */
.hidden {
  display: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.md-14 {
  font-size: 14px;
}
.md-16 {
  font-size: 16px;
}
.md-18 {
  font-size: 18px;
}
.md-22 {
  font-size: 22px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}

/** Header 영역 **/
header {
  /* width: 100vw;
    width: 100%;
    max-width: 100%; */
  height: 50px;
  border: 1px solid var(--border-color);
  background-color: white;
  /* 상단 고정 */
  position: sticky;
  top: 0%;
  z-index: 4;
}
.header-wrap {
  /* background-color: aquamarine; */
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.left-btns-wrap,
.right-btns-wrap {
  display: flex;
  align-items: center;
}
.logo-img {
  height: 17px;
  margin-left: 10px;
}
.menu-btn {
  width: 17px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.menu-btn > img {
  max-width: 100%;
  max-height: 100%;
}
.header-nav-ul > li {
  padding: 15px;
  font-size: 14px;
  font-weight: 600px;
  box-sizing: border-box;
}
.header-nav-ul > li:hover {
  border-bottom: 3px solid #dddddd;
  margin-bottom: -3px;
}
.header-nav-ul > li:active {
  border-bottom: 3px solid #0869fd;
  margin-bottom: -3px;
}
.footnote {
  font-size: 2px;
  margin: 1px;
  position: absolute;
  top: 12px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #1c36fd;
}
.login-btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.search-btn {
  width: 17px;
  height: 17px;
  margin-right: 15px;
  cursor: pointer;
}
.search-btn > img {
  max-width: 100%;
  max-height: 100%;
}
.vertical-line {
  border-left: 1px solid var(--border-color);
  height: 10px;
  margin: 0 20px;
}
.corp-service-btn {
  width: 82px;
  height: 30px;
  font-size: 13px;
  color: grey;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
}
