.divider {
  width: 1060px;
  height: 0.5px;
  background-color: var(--border-color);
  margin: 0 auto;
}
/** 메인 슬라이더 영역 **/
.section-wrap {
  width: 1060px;
  margin: 60px auto;
  /* background-color: yellow; */
  /* padding: 60px 0; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
}
.section-title {
  font-size: 22px;
  font-weight: 700;
}
.section-title--button {
  display: flex;
}
.section-title--button > .section-title {
  margin-right: 4px;
}
/** Main - insight 영역 시작 **/
.insight-categories {
  /* background-color: yellow; */
  width: 1060px;
  height: 40px;

  display: flex;
  justify-content: space-between;

  margin: 20px 0 30px 0;
  /* overflow: hidden; */
  /* position: relative; */
}
.insight-categories__left {
  /* background-color: rebeccapurple; */
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-right: 10px;
  position: relative;
}
.insight-categories__ul {
  /* display: flex;
    justify-content: space-between; */
  /* background-color: red; */
  width: 100%;
  /* overflow: hidden; */
  /* position: absolute; */
  /* left: 0; */
  position: relative;
}
.insight-categories__more-btn {
  width: 39px;
  height: 39px;
  padding: 9px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  color: grey;
  cursor: pointer;
}
.section-contents {
  /* background-color: bisque; */
  width: 1060px;
  /* height: 764px */
}
.section-contents__ul {
  /* background-color: blueviolet; */
  width: 1060px;
  /* height: 301px; */
  display: grid;
  /* @todo - 오른쪽에 여백이 좀 더 많이 남는 이유 몰겠음 */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  margin-bottom: 50px;
  /* margin: 0 auto; */
}
.section-contents__ul--big {
  grid-template-columns: 1fr 1fr;
}

.section-contents__li {
  /* display: flex; */
  /* width: 240px; */
  /* background-color: chartreuse; */
  /* margin: 0px 10px 50px 10px; */
}
.section-contents__thumb {
  /* width: 240px; */
  width: 100%;
  height: 168px;
  padding-bottom: 0;
  /* background-color: black; */
  margin-bottom: 17px;
  background: black;
  outline: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;
  /* playtime을 위로 올리기 위함 */
  position: relative;
  top: 0;
}
.section-contents__thumb--big {
  height: 273px;
  margin-bottom: 8px;
}
.section-contents__thumb > img {
  /* @야매 - 높이값이 꽉 채워졌음 좋겠는데 안채워짐, height값 직접 지정해줬움,, => 100%로 맞춰주니까 됨 */
  /* height: 168px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-contents__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.5;
  overflow: hidden; /* 부모 요소 범위를 넘어가는 자식 요소의 부분은 보이지 않도록 처리 */
  text-overflow: ellipsis; /* 잘린 텍스트를 생략 부호(...)표시 함 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인 수 */
  -webkit-box-orient: vertical;
}
.section-contents__desc {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: #aaaaaa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-contents__writer {
  width: 100%;
  height: 30px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.section-contents__writer__button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  /* 이미지 삐져나온 부분 삭제 */
  overflow: hidden;
}
.section-contents__writer__title {
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
  margin-left: 10px;
}

.insight-more-wrap {
  width: 1060px;
  height: 50px;
  /* background-color: aquamarine; */
}
.insight-more-btn {
  width: 345px;
  height: 50px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  cursor: pointer;
}
.insight-more-btn__img {
  width: 10px;
  transform: rotate(270deg);
  margin: 0 3px;
}
