.divider {
  width: 1060px;
  height: 0.5px;
  background-color: var(--border-color);
  margin: 0 auto;
}
/** 메인 슬라이더 영역 **/
.section-wrap {
  width: 1060px;
  margin: 60px auto;
  /* background-color: yellow; */
  /* padding: 60px 0; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
}
.section-title {
  font-size: 22px;
  font-weight: 700;
}
.section-title--button {
  display: flex;
}
.section-title--button > .section-title {
  margin-right: 4px;
}
/** Main - insight 영역 시작 **/
.insight-categories {
  /* background-color: yellow; */
  width: 1060px;
  height: 40px;

  display: flex;
  justify-content: space-between;

  margin: 20px 0 30px 0;
  /* overflow: hidden; */
  /* position: relative; */
}
.insight-categories__left {
  /* background-color: rebeccapurple; */
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-right: 10px;
  position: relative;
}
.insight-categories__ul {
  /* display: flex;
    justify-content: space-between; */
  /* background-color: red; */
  width: 100%;
  /* overflow: hidden; */
  /* position: absolute; */
  /* left: 0; */
  position: relative;
}
.insight-categories__more-btn {
  width: 39px;
  height: 39px;
  padding: 9px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  color: grey;
  cursor: pointer;
}
.section-contents {
  /* background-color: bisque; */
  width: 1060px;
  /* height: 764px */
}
.section-contents__ul {
  /* background-color: blueviolet; */
  width: 1060px;
  /* height: 301px; */
  display: grid;
  /* @todo - 오른쪽에 여백이 좀 더 많이 남는 이유 몰겠음 */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  margin-bottom: 50px;
  /* margin: 0 auto; */
}
.section-contents__ul--big {
  grid-template-columns: 1fr 1fr;
}

.insight-more-wrap {
  width: 1060px;
  height: 50px;
  /* background-color: aquamarine; */
}
.insight-more-btn {
  width: 345px;
  height: 50px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  cursor: pointer;
}
.insight-more-btn__img {
  width: 10px;
  transform: rotate(270deg);
  margin: 0 3px;
}

/** 구독해야 하는 이유 **/

.section-subscribe {
  height: 278px;
  background-color: #f7f7f7;
  padding: 60px 0 60px 0;
  box-sizing: border-box;
}
.section-subscribe-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}
.section-subscribe-left {
  width: 50%;
}
.section-subscribe__text-big {
  font-size: 30px;
  font-weight: 700;
}
.section-subscribe__text-small {
  margin-top: 5px;
  font-size: 14px;
  color: grey;
}
.section-subscribe__btn {
  width: 260px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #36f;
  color: white;
  margin-top: 25px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.section-subscribe__btn:hover {
  background-color: #002fdb;
}
.section-subscribe__bg-img {
  /* width, height값 지정하지 않으면 사진 안뜸 */
  width: 50%;
  height: 158px;
  background-image: url('https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fimage.wanted.co.kr%2Fuserweb%2Fcareerhome%2Ffirst-wantedplus-subscribe.png&w=800&q=90');
  background-position: center;
  background-size: cover;
}

/** 채용 정보 영역 **/
.section-recruit-ul {
  width: 100%;
  height: 100px;
  /* border: 1px solid var(--border-color); */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 3px;
}
.section-recruit-ul__li {
  flex-grow: 1;
  border-right: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-recruit-ul__top {
  text-align: center;
}
.section-recruit-ul__bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.section-recruit-ul__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 3px;
}
