/** Main - 직업 찾기 섹션 **/
.search-section {
  /* background-color: #999999; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.search-wrap {
  /* background-color: yellowgreen; */
  border-bottom: 1px solid var(--border-color);
}
.search-job-box {
  width: 1060px;
  height: 32px;
  display: flex;
  margin: 40px auto;
}
.search-job-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-job-btn__text {
  font-size: 24px;
  margin-right: 16px;
}
.search-job-btn__text--bold {
  font-weight: 700;
}
.search-job-btn__more-btn {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  border: 1px solid #e1e2e3;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
}
.search-job-btn:first-child:after {
  content: '|';
  font-size: 28px;
  margin: 3px 24px;
  color: #ececec;
}

.search-filter-box {
  width: 1060px;
  margin: 10px auto 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.search-filter-btn:nth-child(2),
.search-filter-btn:nth-child(3) {
  margin-left: 5px;
}
.search-filter-btn {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #ececec;
  border-radius: 5px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.search-filter-btn__selected-text {
  color: #3366ff;
  font-weight: 600;
  margin-left: 15px;
}
.search-filter-btn--padding-right {
  padding-right: 5px;
}
.search-filter-btn__dropdown {
  margin-left: 5px;
  /* ? 머트리얼 아이콘 기본적으로 붙어있는 양 옆 패딩을 없애고 싶은데 방법을 모르겠다.*/
  /* padding-right: 0;
    margin-right: 0; */
}

.divider--margin {
  margin: 25px auto;
}
.search-tag-slider-box {
  width: 1060px;
  height: 32px;
  margin: 0 auto 25px auto;
  /* background-color: yellow; */
  display: flex;
  position: relative;
  overflow: hidden;
}
.search-tag-slider-box .slick-slider {
  width: 100%;
}

/** Main - 콘텐츠 영역 **/
.contents-box {
  width: 1060px;
  margin: 30px auto;
}
/** Main - 북마크 버튼 **/
.bookmark-btn {
  height: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bookmark-row * {
  color: #3366ff;
}
.bookmark-btn__text {
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
/** Main - 적극 채용 중인 회사 영역 **/
.hiring-corp-title {
  font-size: 22px;
  font-weight: 600;
}
.hiring-corp-list {
  /* background-color: yellow; */
  margin: 20px 0 50px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
