@use './helpers' as *;

/** Main - 직업 찾기 섹션 **/
.search-section {
  /* background-color: #999999; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
}
.search-wrap {
  max-width: 1060px;
  margin: 0 auto;
  /* background-color: yellowgreen; */

  @include media-breakpoint-down(xl) {
    width: 90%;
  }
}
.search-job-box {
  height: 32px;
  display: flex;
  margin-bottom: 40px;
}
.search-job-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-job-btn__text {
  font-size: 24px;
  margin-right: 16px;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
.search-job-btn__text--bold {
  font-weight: 700;
}
.search-job-btn__more-btn {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  border: 1px solid #e1e2e3;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
}
.search-job-btn:first-child:after {
  content: '|';
  font-size: 28px;
  margin: 3px 24px;
  color: #ececec;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    margin: 3px 14px;
  }
}

/** Main - 콘텐츠 영역 **/
.contents-box {
  width: 1060px;
  margin: 30px auto;
}
/** Main - 북마크 버튼 **/
.bookmark-btn {
  height: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bookmark-row * {
  color: #3366ff;
}
.bookmark-btn__text {
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
/** Main - 적극 채용 중인 회사 영역 **/
.hiring-corp-title {
  font-size: 22px;
  font-weight: 600;
}
.hiring-corp-list {
  /* background-color: yellow; */
  margin: 20px 0 50px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
