/** 회원가입/로그인 모달창 **/
.login-modal-window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.login-modal-box {
  width: 400px;
  /* max-width: 500px; */
  /* height: 600px; */
  max-height: calc(100vh - 150px);
  overflow: hidden auto;
  -ms-overflow-style: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: 5px;
}
.login-modal-box::-webkit-scrollbar {
  display: none;
}
.login-modal-header {
  width: 100%;
  height: 54px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
/* ? i 태그 중앙 정렬이 안됨 */
.icon-logo-box {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  /* padding: 0 auto; */
}
.logo-align-center {
  position: relative;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
}
.login-modal__close-btn {
  color: grey;
  position: absolute;
  right: 0;
  padding: 15px;
}

.login-modal-body {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-modal__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.54;
  color: #333;
  text-align: center;
}
.login-modal__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  margin: 16px 0 40px;
  text-align: center;
}

.input__label {
  font-size: 14px;
  font-weight: 400;
  color: #767676;
}
/* input 태그에 마진을 다니까 나중에 인풋 영역 가운데에 화살표를 넣고 싶을 때 마진까지 포함해서 영역이 잡혀 중앙 정렬이 잘 안돼서 input태그만을 감싸는 wrap을 따로 만듦 */
.input-wrap {
  margin-top: 11px;
}
.input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  font-size: 15px;
  color: #333;
  padding: 0 15px;
  box-sizing: border-box;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:focus-visible {
  border: 1px solid #36f;
  outline: none;
}
.input--border-red,
.input--border-red:focus-visible {
  border: 1px solid var(--red-color);
}
.input__errorMessage {
  font-size: 13px;
  color: var(--red-color);
  margin-top: 8px;
}

.login-modal__or-divider {
  color: #969696;
  font-size: 14px;
  font-weight: 500;
  margin: 13px auto;
}

.login-modal__sns-login-text {
  font-size: 14px;
  color: #767676;
  margin-bottom: 17px;
  text-align: center;
}

.login-modal-sns-list-box {
  display: flex;
  justify-content: space-between;
}
.login-modal__sns-btn {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  margin: 0 auto 8px;
  position: relative;
  /* display: inline-flex;
    justify-content: center; */
}
.login-modal__sns-btn__text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 62px;
  color: #666;
}
.login-modal__sns-btn--bg-yellow {
  background-color: yellow;
}
.login-modal__sns-btn--bg-blue {
  background-color: #36f;
}
.login-modal__sns-btn--border {
  border: 1px solid #e1e2e3;
}
.login-modal__sns-btn--bg-black {
  background-color: black;
}
.login-modal__sns-btn:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 56px;
  background-color: rgba(0, 0, 0, 0.2);
}

.login-modal__safe-text {
  margin-top: 46px;
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 18px;
}
.login-modal__safe-text a {
  color: #3336ff;
  text-decoration: underline;
}

/** 회원가입 모달창 **/
.login-modal-input-box {
  margin-bottom: 22px;
}

.signUp-modal-body {
  padding: 20px 20px 0 20px;
}

.login-modal__select-box {
  position: relative;
  margin-top: 0;
}
.login-modal__select-arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.login-modal__input-wrap--display {
  display: flex;
  column-gap: 10px;
}
.login-modal__get-code-btn {
  flex-shrink: 0;
  border-radius: 5px;
  width: 117px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: #ccc;
  background-color: #f2f4f7;
}
.login-modal__get-code-btn.isActive {
  border: 1px solid #e1e2e3;
  background-color: white;
  color: #36f;
}

.login-modal__input--bg-grey {
  background-color: #f2f4f7;
}
.login-modal__pw-guide {
  font-size: 12px;
  color: #767676;
  line-height: 1.42;
  margin-top: 6px;
}

.login-modal-agree-box {
  margin-bottom: 15px;
}
.login-modal-agree-row {
  margin: 5px 0px;
  display: flex;
}
.divider--margin-5 {
  margin: 14px 0;
}
.login-modal-agree-text-box {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-modal__agree-text {
  margin-left: 10px;
  font-size: 15px;
  color: #939393;
}
.login-modal__agree-text--col-black {
  color: #333333;
}
.login-modal__agree-detail-link {
  font-size: 13px;
  color: #767676;
}

.login-modal-footer-box {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px 0 15px 0;
  box-sizing: border-box;
}
/* todo) foooter-box 위에 그라데션 박스 넣기 */
/* .login-modal-footer-box::before {
    content: "";
    width: 100%;
    height: 30px;
    display: block;
    background-color: purple;
    background-color: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
} */
.login-modal__signUp-btn {
  width: 100%;
  height: 54px;
  border-radius: 54px;
  font-size: 16px;
  font-weight: 600;
  color: #cacaca;
  background-color: #f2f4f7;
  cursor: not-allowed;
}
