.search-filter-box {
  max-width: 1060px;
  margin: 10px auto 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.search-filter-btn:nth-child(2),
.search-filter-btn:nth-child(3) {
  margin-left: 5px;
}
.search-filter-btn {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #ececec;
  border-radius: 5px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  background: white;
}
.search-filter-btn__selected-text {
  color: #3366ff;
  font-weight: 600;
  margin-left: 15px;
}
.search-filter-btn--padding-right {
  padding-right: 5px;
}
.search-filter-btn__dropdown {
  margin-left: 5px;
  /* ? 머트리얼 아이콘 기본적으로 붙어있는 양 옆 패딩을 없애고 싶은데 방법을 모르겠다.*/
  /* padding-right: 0;
      margin-right: 0; */
}

.divider {
  max-width: 100%;
  margin: 25px auto;
}
.search-tag-slider-box {
  max-width: 1060px;
  height: 32px;
  margin: 0 auto 25px auto;
  /* background-color: yellow; */
  display: flex;
  position: relative;
  overflow: hidden;
}
.search-tag-slider-box .slick-slider {
  width: 100%;
}
