.section-header-wrap {
  width: 1060px;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.section-header {
  /* text-align: center; */
  /* width: 100%; */
}
.section-subtitle {
  /* height: 10px; */
  font-size: 15px;
  font-weight: 500;
  width: fit-content; /* 부모 가로폭 꽉 채우지 않고 내용물 폭에만 클릭되게 하기 위함 */
  margin: 5px auto 0 auto;
  color: #767676;
  cursor: pointer;
}
.section-subtitle__img {
  height: 10px;
  margin-left: 5px;
}
