.section-wrap {
  width: 1060px;
  margin: 60px auto;
}
/* .section-wrap {
    width: 1060px;
    margin: 60px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
