.section-contents__desc {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: #aaaaaa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-contents__writer {
  width: 100%;
  height: 30px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.section-contents__writer__button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  /* 이미지 삐져나온 부분 삭제 */
  overflow: hidden;
}
.section-contents__writer__title {
  font-size: 13px;
  font-weight: 600;
  color: #aaaaaa;
  margin-left: 10px;
}
